.cona{
    margin: 105px auto;
}

.sear{
    border-radius: 20px;
    left: 900px;
}

.add{
    border-radius: 100px;
    left: 1150px;
}
/* 
.po{
    background-color: white;
} */

.koimg img{
    width: 57px;
    height: 60px;
}

.pol{
    background-color: tomato;
}

.pagination a {
    color: black;
    float: right;
    padding: 8px 16px;
    text-decoration: none;
    margin-top: 10px;
}

.pagination .kopla{
    background-color: red;
}


@media screen and (max-width:992px){
    .web{
        width: 500px;
        font-size: 40px;
    }
}

/* AddNew Style */

.opa{
    position: absolute;
    width: 1490px;
    height: 911px;
    left: 214.4px;
    top: 72px;

    background: hsl(210, 1%, 49%);
    opacity: 0.9;
}

.dko{
    position: absolute;
    width: 1150px;
    height: 694px;
    left: 181px;
    top: 95px;

    background: #FFFFFF;
    border-radius: 10px;
}

.dko p {
    position: absolute;
    width: 151px;
    height: 28px;
    left: 54px;
    top: 17px;

    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */

    text-transform: capitalize;

    color: #161A1D;

}

.ban img {
    position: absolute;
    width: 529px;
    height: 380px;
    left: 54px;
    top: 110px;
    opacity: 1;
    border-radius: 8px;
    /* background: #161A1D; */
}

#bnt{
    position: absolute;
    width: 277px;
    height: 61px;
    left: 612px;
    top: 567px;
    
    background: #94CD00;
    box-shadow: 2px 2px 25px 2px rgba(148, 205, 0, 0.6);
    border-radius: 60px;
    color: white;
}

.input h3{
    position: absolute;
    width: 136px;
    height: 28px;
    left: -10px;
    top: -57px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */

    text-transform: capitalize;

    color: #161A1D;

}

.input p{
    position: absolute;
    width: 47px;
    height: 28px;
    left: 15px;
    top: -8px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 165% */

    text-transform: capitalize;

    color: #A2A3A5;
}

.input{    
    box-sizing: border-box;
    position: absolute;
    width: 529px;
    height: 60px;
    left: 615px;
    top: 83px;

    border: 2px solid #E8E8E8;
    border-radius: 10px;
}

.inp{
    position: absolute;
width: 252px;
height: 60px;
left: 615px;
top: 192px;

border: 2px solid #E8E8E8;
border-radius: 10px;
}

.inp p{
    position: absolute;
width: 47px;
height: 28px;
left: 4px;
top: 2px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

text-transform: capitalize;

color: #161A1D;

}

.inp h3{
    position: absolute;
width: 47px;
height: 28px;
left: 3px;
top: -57px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

text-transform: capitalize;

color: #161A1D;
}


.inpt{
    position: absolute;
width: 202px;
height: 60px;
left: 915px;
top: 192px;

border: 2px solid #E8E8E8;
border-radius: 10px;
}

.inpt p{
    position: absolute;
width: 47px;
height: 28px;
left: 4px;
top: 2px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

text-transform: capitalize;

color: #161A1D;

}

.inpt h3{
    position: absolute;
width: 7px;
height: 28px;
left: 3px;
top: -57px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

text-transform: capitalize;

color: #161A1D;
}

.pt{
    position: absolute;
    width: 510px;
    height: 136px;
    left: 613px;
    top: 380px;
    border: 2px solid #E8E8E8;
}

.pt h3{
    position: absolute;
width: 108px;
height: 28px;
left: -5px;
top: -55px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

text-transform: capitalize;

color: #161A1D;

}

.pt p{
    position: absolute;
width: 112px;
height: 28px;
left: 5px;
top: 1px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 28px;
/* identical to box height, or 165% */

text-transform: capitalize;

color: #A2A3A5;
}

.it{
    box-sizing: border-box;

position: absolute;
width: 130px;
height: 50px;
left: 615px;
top: 291px;

border: 2px solid #E8E8E8;
border-radius: 10px;
}

.it p{
    position: absolute;
width: 40px;
height: 28px;
left: 7px;
top: -7px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 28px;
/* identical to box height, or 165% */

text-transform: capitalize;

color: #A2A3A5;
}

.it h3{
    position: absolute;
width: 40px;
height: 28px;
left: 1px;
top: -46px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

text-transform: capitalize;

color: #161A1D;
}

.pot{
    box-sizing: border-box;

position: absolute;
width: 130px;
height: 50px;
left: 785px;
top: 291px;

border: 2px solid #E8E8E8;
border-radius: 10px;
}

.pot p{
    position: absolute;
width: 40px;
height: 28px;
left: 7px;
top: -7px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 28px;
/* identical to box height, or 165% */

text-transform: capitalize;

color: #A2A3A5;
}

.pot h3{
    position: absolute;
width: 40px;
height: 28px;
left: 1px;
top: -46px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

text-transform: capitalize;

color: #161A1D;
}

.pqt{
    box-sizing: border-box;

position: absolute;
width: 130px;
height: 50px;
left: 965px;
top: 291px;

border: 2px solid #E8E8E8;
border-radius: 10px;
}

.pqt p{
    position: absolute;
width: 40px;
height: 28px;
left: 7px;
top: -7px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 28px;
/* identical to box height, or 165% */

text-transform: capitalize;

color: #A2A3A5;
}

.pqt h3{
    position: absolute;
width: 59px;
height: 28px;
left: 1px;
top: -46px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

text-transform: capitalize;

color: #161A1D;

}

.aw{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
/* width: 24px; */
/* height: 24px; */
left: 83px;
top: 9px;

opacity: 0.3;
}

.dko h4{
    position: absolute;
width: 38px;
height: 38px;
left: calc(50% - 26px/2 + 612px);
top: -26px;
left: 1125px;
color: red;
}

.lpa{
    position: absolute;
width: 284px;
height: 60px;
left: 1040px;
top: 40px;
opacity: 0.3;
background: #94CD00;
border-radius: 60px;
}

.upload{
    box-sizing: border-box;

position: absolute;
width: 159px;
height: 72px;
left: 390px;
top: 168px;

background: #FFFFFF;
border: 1px solid #EFEFEF;
border-radius: 5px;
}

.upload h3{
    position: absolute;
width: 170px;
height: 60px;
left: calc(50% - 170px/2 - 18px);
top: -10px;

font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 30px;
/* or 188% */

text-transform: capitalize;

color: #161A1D;
}

.upload p{
    position: absolute;
width: 170px;
height: 60px;
left: calc(50% - 170px/2 - 45px);
top: 25px;

font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 30px;
/* or 188% */

text-transform: capitalize;

color: #161A1D;
}


@media screen and (max-width:1242px) {
    .krk{
      width: 250px;
      position: relative;
    }
}